.vis-item .vis-item-overflow {
  overflow: visible !important;
}

.vis-item-content { 
    color: #000000; 
}

.vis-range {
    text-align: center;
}

/* Rouge pour G1 */
.vis-range.group-1 {
    background: #f85151;
    border-color: #c0392b;
}

/*.vis-item.group-1.vis-point {
    color: #c0392b;
}*/

.vis-item.group-1.vis-dot {
    border-color:#c0392b;
}

/* Vert pour G2 */
.vis-range.group-2 {
    background: #27ae60;
    border-color: #1e8449;
}

.vis-item.group-2.vis-point {
    color: #27ae60;
}

.vis-item.group-2.vis-dot {
    border-color: #27ae60;
}

/* Violet pour pour G3 */
.vis-range.group-3 {
    background: #e940ff ;
    border-color: #5f006b;
}

.vis-item.group-3.vis-point {
    color: #a706bd;
}

.vis-item.group-3.vis-dot {
    border-color: #a706bd;
}

/* Orange pour G4 */
.vis-range.group-4 {
    background: #ff5f02;
    border-color: #883d00;
}

.vis-item.group-4.vis-point {
    color: #ff5f02;
}

.vis-item.group-4.vis-dot {
    border-color: #ff5f02;
}

/* Bleu pour G5 */
.vis-range.group-5 {
    background: #909bff;
    border-color: #0022e4;
}

.vis-item.group-5.vis-point {
    color: #2c40f5;
}

.vis-item.group-5.vis-dot {
    border-color: #2c40f5;
}

